{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "strict": [
            "warn",
            "function"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "camelcase": [
            "error",
            {
                "properties": "always"
            }
        ],
        "array-bracket-spacing": [
            "error",
            "always"
        ],
        "arrow-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "key-spacing": [
            "error",
            {
                "align": {
                    "beforeColon": true,
                    "afterColon": true,
                    "on": "colon"
                }
            }
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "prefer-arrow-callback": [
            "warn",
            {
                "allowNamedFunctions": true,
                "allowUnboundThis": true
            }
        ],
        "prefer-const": [
            "warn"
        ],
        "semi": [
            "error",
            "always",
            {
                "omitLastInOneLineBlock": true
            }
        ]
    }
}
