<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticProperties="false"
         colors="true"
         processIsolation="false"
         cacheResult="false"
         stopOnFailure="true"
         stopOnError="true"
         stopOnWarning="true"
         stopOnRisky="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnIncompleteTests="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>