// clearfix
@mixin clearfix {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}

// hide element
@mixin hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
@function arrowDownSvg($hexColor) {
    @return url('data:image/svg+xml;charset=utf8,%3csvg fill="%23#{$hexColor}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M7 10l5 5 5-5z"/%3e%3cpath d="M0 0h24v24H0z" fill="none"/%3e%3c/svg%3e');
}
